Repository pagopa/cstar-securehub-infra, pull requests merged in 2025-07, with the labels that each got.

#113 feat: [IDP-2770] Add bonuselettromestici public zones
  src/10_networking/20_public_network.tf
  src/10_networking/99_locals.tf
  src/10_networking/README.md
  src/40_platform/01_default_resource_groups.tf
Labels: applied dev, applied prod, applied uat

#103 feat: RDB-23-added event for asset upload
  src/70_domains/idpay_common/.terraform.lock.hcl
  src/70_domains/idpay_common/09_asset_register_upload_event_grid.tf
  src/70_domains/idpay_common/README.md
Labels: applied dev, idpay-common

#114 feat: add secrets and appInsights
  src/70_domains/idpay_common/04_eventhub_0.tf
  src/70_domains/idpay_common/04_eventhub_configuration.tf
  src/70_domains/idpay_common/04_security.tf
  src/70_domains/idpay_common/20_monitor.tf
  src/70_domains/idpay_common/99_locals.tf
  src/70_domains/idpay_common/99_variables.tf
  src/70_domains/idpay_common/env/itn-dev/terraform.tfvars
  src/70_domains/idpay_common/env/itn-prod/terraform.tfvars
  src/70_domains/idpay_common/env/itn-uat/terraform.tfvars
  src/70_domains/idpay_security/secrets/idpay/itn-dev/noedit_secret_enc.json
  src/70_domains/idpay_security/secrets/idpay/itn-uat/noedit_secret_enc.json
Labels: applied dev, applied uat, idpay-common

#137 feat: RDB-64 produt file index update
  src/70_domains/idpay_common/.terraform.lock.hcl
  src/70_domains/idpay_common/03_cosmos_mongodb_configuration.tf
Labels: applied dev, idpay-common

#142 feat: EBE-65 add collection point of sales
  src/70_domains/idpay_common/03_cosmos_mongodb_configuration.tf
Labels: applied dev, idpay-common

#145 feat: Ebe 53 infra deploy keycloack theme
  src/41_platform_coder/22_keycloak_v2.tf
  src/41_platform_coder/README.md
  src/41_platform_coder/k8s/keycloak/themes/pagopa/login/login.ftl
  src/41_platform_coder/k8s/keycloak/themes/pagopa/login/resources/css/login.css
  src/41_platform_coder/k8s/keycloak/themes/pagopa/login/resources/img/book.png
  src/41_platform_coder/k8s/keycloak/themes/pagopa/login/resources/img/info.png
  src/41_platform_coder/k8s/keycloak/themes/pagopa/login/resources/img/ue-logo.png
  src/41_platform_coder/k8s/keycloak/themes/pagopa/login/theme.properties
  src/41_platform_coder/k8s/keycloak/values.yaml.tpl
  src/70_domains/idpay_common/10_keycloak.tf
Labels: applied dev, idpay-common

#151 feat: Rdb 71 observability dashboards
  src/70_domains/idpay_app/.terraform.lock.hcl
  src/70_domains/idpay_app/00_data.tf
  src/70_domains/idpay_app/11_workbooks.tf
  src/70_domains/idpay_app/99_locals.tf
  src/70_domains/idpay_app/99_main.tf
  src/70_domains/idpay_app/README.md
  src/70_domains/idpay_app/configs/workbooks/OPEXWorkbook.json.tpl
  src/70_domains/idpay_app/configs/workbooks/OnboardingWorkflow.json.tpl
Labels: applied dev, idpay-common

#168 feat: EBE-68 EBE-69 add index for transaction_in_progress and point_of_sales
  src/70_domains/idpay_common/03_cosmos_mongodb_configuration.tf
Labels: applied dev, applied prod, applied uat, idpay-common

#170 feat: [UBPE-13] infra setup one identity
  src/70_domains/idpay_common/00_data.tf
  src/70_domains/idpay_common/10_keycloak.tf
  src/70_domains/idpay_common/99_locals.tf
  src/70_domains/idpay_common/99_variables.tf
  src/70_domains/idpay_common/env/itn-dev/terraform.tfvars
  src/70_domains/idpay_common/env/itn-prod/terraform.tfvars
  src/70_domains/idpay_common/env/itn-uat/terraform.tfvars
  src/70_domains/idpay_security/secrets/idpay/itn-dev/noedit_secret_enc.json
  src/70_domains/idpay_security/secrets/idpay/itn-prod/noedit_secret_enc.json
  src/70_domains/idpay_security/secrets/idpay/itn-uat/noedit_secret_enc.json
Labels: applied dev, applied prod, applied uat, idpay-common, idpay-security
