Repository pagopa/cstar-securehub-infra, pull requests merged in 2025-09, with the labels that each got.

#194 fix: rdb product index update
  src/70_domains/idpay_common/.terraform.lock.hcl
  src/70_domains/idpay_common/03_cosmos_mongodb_configuration.tf
Labels: applied dev, applied prod, applied uat, idpay-common

#196 feat: UPBE-137 add dateOfBirth attrbuto to keycloack token
  src/70_domains/idpay_common/10_keycloak.tf
Labels: applied dev, applied prod, applied uat, idpay-common

#199 fix: remove unused sops secrets
  src/20_security_kv/01_core_kvs.tf
  src/20_security_kv/secrets/core/itn-dev/noedit_secret_enc.json
  src/20_security_kv/secrets/core/itn-prod/noedit_secret_enc.json
  src/20_security_kv/secrets/core/itn-uat/noedit_secret_enc.json
Labels: applied dev, applied prod, applied uat

#197 fix: add iac for keycloak terraform client
  src/30_core/06_azure_devops_agent.tf
  src/41_platform_coder/22_keycloak_v2.tf
  src/41_platform_coder/k8s/keycloak/values.yaml.tpl
Labels: applied dev, applied prod, applied uat

#215 chore: idpay ranker added
  src/70_domains/idpay_app/30_argocd_domain.tf
Labels: applied dev, applied prod, applied uat, idpay-app

#218 feat: [RTD-2653] add perf agent pool
  src/30_core/06_azure_devops_agent.tf
  src/30_core/README.md
Labels: applied dev, applied prod, applied uat

#221 fix: add missing merchant selfcare api-key in prod
  src/70_domains/idpay_security/secrets/idpay/itn-prod/noedit_secret_enc.json
Labels: applied prod

#228 fix: Eie work book update
  src/70_domains/idpay_app/configs/workbooks/OPEXWorkbook.json.tpl
Labels: applied dev

#232 fix: Storage & law daily
  src/40_platform/50_argocd.tf
  src/40_platform/99_main.tf
  src/40_platform/README.md
  src/70_domains/idpay_common/08_storage_audit_log.tf
  src/70_domains/idpay_common/21_cdn_assetregister.tf
  src/70_domains/idpay_common/21_cdn_bonus_elettrodomestici.tf
  src/70_domains/idpay_common/21_cdn_selfcare.tf
  src/70_domains/idpay_common/21_cdn_welfare.tf
  src/70_domains/idpay_common/99_main.tf
  src/70_domains/idpay_common/env/itn-uat/terraform.tfvars
Labels: applied dev, applied prod, applied uat

#243 feat: Remove Selfcare cdn
  src/70_domains/idpay_common/03_cosmos_mongodb_0.tf
  src/70_domains/idpay_common/21_cdn_bonus_elettrodomestici.tf
  src/70_domains/idpay_common/21_cdn_selfcare.tf
  src/70_domains/idpay_common/21_cdn_welfare.tf
  src/70_domains/idpay_common/99_locals.tf
  src/70_domains/idpay_common/99_variables.tf
  src/70_domains/idpay_common/env/itn-dev/terraform.tfvars
  src/70_domains/idpay_common/env/itn-prod/terraform.tfvars
  src/70_domains/idpay_common/env/itn-uat/terraform.tfvars
Labels: applied dev, applied prod, applied uat

#217 chore: Add mcshared datavault
  src/70_domains/idpay_app/30_argocd_domain.tf
Labels: applied dev, applied prod, applied uat, idpay-app

#249 chore: delete idpay mock from prod
  src/70_domains/idpay_app/30_argocd_domain.tf
Labels: applied dev, applied prod, applied uat, idpay-app

#251 feat: [SRTP-702] Create srtp workbook
  src/70_domains/srtp_common/13_workbooks.tf
  src/70_domains/srtp_common/README.md
  src/70_domains/srtp_common/workbooks/SRTPWorkbook.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/accessi-account-storage.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/activator.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/attivazioni-cittadini.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/autenticazione.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/callback.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/cancellazioni.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/disattivazioni-cittadini.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/finestra-osservabilità.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/invii-srtp.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/monitoraggio-service-providers.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/sender.json.tpl
  src/70_domains/srtp_common/workbooks/tabs/tabs.json.tpl
Labels: applied prod, applied uat

#244 feat: UPBE-190-BE]-Added idpay-payment-host
  src/70_domains/idpay_app/08_k8s_configmaps.tf
Labels: applied dev, applied prod, applied uat, idpay-app

#248 feat: [PAYMCLOUD-522] Data factory platform
  src/40_platform/00_data.tf
  src/40_platform/10_network.tf
  src/40_platform/70_datafactory.tf
  src/40_platform/99_main.tf
  src/40_platform/README.md
  src/70_domains/idpay_common/00_data.tf
  src/70_domains/idpay_common/61_datafactory.tf
  src/70_domains/idpay_common/99_locals.tf
  src/70_domains/idpay_common/99_main.tf
Labels: applied dev, applied prod, applied uat
