Repository pagopa/cstar-securehub-infra, pull requests merged in 2025-10, with the labels that each got.

#254 feat: [PAYMCLOUD-523] add data Explorer
  src/10_networking/21_private_network.tf
  src/10_networking/README.md
  src/40_platform/.terraform.lock.hcl
  src/40_platform/00_data.tf
  src/40_platform/10_network.tf
  src/40_platform/30_grafana_managed.tf
  src/40_platform/71_dataexplorer.tf
  src/40_platform/99_main.tf
  src/40_platform/99_variables.tf
  src/40_platform/README.md
  src/40_platform/env/itn-dev/terraform.tfvars
  src/40_platform/env/itn-prod/terraform.tfvars
  src/40_platform/env/itn-uat/terraform.tfvars
  src/70_domains/idpay_common/00_data.tf
  src/70_domains/idpay_common/61_datafactory.tf
  src/70_domains/idpay_common/62_dataexplorer.tf
  src/70_domains/idpay_common/99_locals.tf
Labels: applied dev, applied prod, applied uat

#260 feat: add merchant API monitoring metrics
  src/70_domains/idpay_app/configs/workbooks/OPEXWorkbook.json.tpl
Labels: applied dev

#271 fix: [SRTP-989] fix ttl plan problem.
  src/70_domains/srtp_common/10_cosmos.tf
  src/70_domains/srtp_common/99_locals.tf
Labels: applied dev, applied prod, applied uat, srtp-common

#275 feat: EBE-257 add captured and expired state
  src/70_domains/idpay_app/configs/kafka-connectors/transaction_in_progress_connector.json
Labels: applied dev
